h1 {
    text-align: center;
    color: lightgray;
}

html, body {
    background-color: grey;
    height: 100%;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    resize: vertical;
}

button, input, .submitArea, .innerSubmitArea, .notesContainer, .note {
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    resize: vertical;
    vertical-align: top;
}

button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: white;
    color: black;
}

.searchArea {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.submitArea {
    background-color: goldenrod;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.innerSubmitArea {
    margin: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.notesContainer {
    margin: auto;
    width: 80%;
    background-color: white;
    border: 1px solid darkgray;
}

.note {
    margin: auto;
    width: 70%;
    /* text-align: center; */
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.innerNote {
    margin: 10px;
}

.innerNoteEdit {
    margin: 10px;
}

.noteChanged {
    color: gray;
    font-style: italic;
}

.noteTitle {
    font-weight: bold;
}

/* .noteTags {
    color: goldenrod;
} */

.tag {
    background-color: lightgray;
    margin: 5px;
    float:left;
    padding-left: 5px;
    padding-right: 5px;
}

.noteContent {
    /* To show newlines (and tabs if needed) */
    white-space: pre-line;
    /* white-space: pre-wrap; */
}

.noteButtons {
    margin-top: 10px;
    text-align: right;
}

#result {
    position: absolute;
    top: 10px;
    right: 10px;
    color: lightgray(255, 0, 0);
}